[Unit]
Description=RPi MIDI autoconnect to Fluid daemon

[Service]
ExecStart=/usr/local/bin/rpimidiautoconnect
Type=simple
User=root

[Install]
WantedBy=multi-user.target
